BRAVE_API_KEY=
EMAIL_HOST=
EMAIL_PASSWORD=
EMAIL_PORT=
EMAIL_USER=
GITHUB_TOKEN=
HARDWARE_PROFILE=
IMAP_HOST=
IMAP_PORT=
INTERNAL_API_KEY=
N_BATCH=
N_CTX=
N_THREADS=
OPENAI_API_KEY=
PG_DATABASE=
PG_HOST=
PG_PASSWORD=
PG_PORT=
PG_USER=
PG_USE_POSTGRES=
TTS_API_KEY=
TTS_URL=